@inject ISnackbar Snackbar

<div style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <MudButton Class="mx-5" Color="Color.Success" @onclick="startTrainning" Variant="Variant.Filled">Train!</MudButton>
</div>

@code {

    private void startTrainning(MouseEventArgs e)
    {
        Snackbar.Add("Start Trainning!", MudBlazor.Severity.Success);
    }
}
