@page "/main"


<MudPaper class="d-flex flex-row">
    <MudItem xs="4">
        <h2>Please select an input file.</h2>
        <div class="content-box">
            <SingleFileDragAndDropUpload />
        </div>
    </MudItem>
    <MudItem xs="4">
            <ParameterSection/>
    </MudItem>
    <MudItem xs="4">
        <StartTrainningSection />
    </MudItem>
</MudPaper>

@code {
    // private bool isAbleToUpload;
}
