@page "/main"


<MudPaper class="d-flex flex-row">
    <MudItem xs="4">
        <h2>Please select an input file.</h2>
        <div class="content-box">
            <SingleFileDragAndDropUpload @ref="singleFileDragAndDropUpload" />
        </div>
    </MudItem>
    <MudItem xs="4">
            <ParameterSection/>
    </MudItem>
    <MudItem xs="4">
        <StartTrainningSection FileUpload="singleFileDragAndDropUpload.Upload" />
    </MudItem>
</MudPaper>

@code {
    // private bool isAbleToUpload;
    private SingleFileDragAndDropUpload singleFileDragAndDropUpload;
}
