@page "/main"

<MudPaper class="d-flex flex-row">
    <MudItem xs="4">
        <div class="content-box">
            <SingleFileDragAndDropUpload changeId="changeId" />
        </div>
    </MudItem>
    <MudItem xs="4">
        <ParameterSection 
            Id="Id" 
            changeLabelAndFS="changeLabelAndFS"
            SelectedLabel="@selectedLabel" 
            FeaturesSelector="@selectedFeaturesSelector" 
        />
    </MudItem>
    <MudItem xs="4">
        <StartTrainningSection />
    </MudItem>
</MudPaper>

@code {
    // private int ID = 1; // temp
    private int Id = -1;

    private string selectedLabel { get; set; } = "";
    private IEnumerable<string> selectedFeaturesSelector { get; set; } = new HashSet<string>();

    private void changeId (int id)
    {
        Id = id;
        StateHasChanged();
    }

    private void changeLabelAndFS(string label, IEnumerable<string> featuresSelector)
    {
        selectedLabel = label;
        selectedFeaturesSelector = featuresSelector;
        StateHasChanged();
    }
}
